<a
  href="/instant-quote<%= typeof serviceSlug !== 'undefined' && serviceSlug ? '?service=' + encodeURIComponent(serviceSlug) : '' %>"
  class="button instant-quote-button"
>
  Get an Instant Estimate
</a>
