<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="noindex, nofollow, noarchive" />
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/sales-coach.css" />
</head>
